{% extends "UserApp/base.html" %}
{% block content %}
    <h1>Legs</h1>
    {% if days %}
        {%for day in days%}
            <p>Happy {{day.day}}</p>
        {% endfor %}
    {% else %}
        <p>No leg days recorded.</p>
    {% endif %}
    {% if exercises %}
        <ul>
            {% for exercise in exercises %}
                <li>{{ exercise.name }}:</li>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="repetitions">Repetitions:</label>
                    <input type="number" name="repetitions" value="{{ exercise.repetitions }}" min="1">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" name="weight" value="{{ exercise.weight }}" step="0.1" min="0">
                    <input type="hidden" name="id" value="{{ exercise.id }}">
                    <button type="submit" class="btn btn-primary">Log</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No leg exercises recorded.</p>
    {% endif %}
    <form method="post" action="{% url 'Legs' %}">
        {% csrf_token %}
        <input type="hidden" name="attended" value="True">
        <button type="submit" class="btn btn-warning">Workout Complete</button>
    </form>
    <a href="{% url 'track_space' %}" class="btn btn-primary">Back to Track Space</a>
{% endblock %}