<!--This page extends the base tmeplate and uses Chart.js to diaplsy the users progress-->
{% extends 'UserApp/base.html' %}
{% block content %}
<h1>Statistics</h1>
<p>Attendance rate: {{ attendance }}</p>
<div>
<canvas id="Pushchart" width="400" height = "200"></canvas>
<canvas id="Pullchart" width="400" height = "200"></canvas>
<canvas id="Legschart" width="400" height = "200"></canvas>
</div>push_volume
{{ push_volume|json_script:"pushVolume" }}
{{ pull_volume|json_script:"pullVolume" }}
{{ legs_volume|json_script:"legsVolume" }}
{{ push_date|json_script:"pushDates" }}
{{ pull_date|json_script:"pullDates" }}
{{ legs_date|json_script:"legsDates" }}
<script>
    const pushdates = JSON.parse(document.getElementById('pushDates').textContent);
    const pushvolumes = JSON.parse(document.getElementById('pushVolume').textContent);
    let Pushctx = document.getElementById('Pushchart').getContext('2d');
    let Pushchart = new Chart(Pushctx, {
        type: 'bar',
        data: {
            labels: pushdates,
            datasets: [{
                label: 'Push Volume',
                data: pushvolumes,
                backgroundColor: [
                    'rgba(255, 100, 100, 1)',
                ],
            }]
        },
        options: {
            title:{
                display: true,
                text: 'Push Volume Over Time'
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    const pullVolumes = JSON.parse(document.getElementById('pullVolume').textContent);
    const pulldates = JSON.parse(document.getElementById('pullDates').textContent);
    let Pullctx = document.getElementById('Pullchart').getContext('2d');
    let Pullchart = new Chart(Pullctx, {
        type: 'bar',
        data: {
            labels: pulldates,
            datasets: [{
                label: 'Pull Volume',
                data: pullVolumes,
                backgroundColor: [
                    'rgba(100, 150, 255, 1)',
                ],
            }]
        },
        options: {
            title:{
                display: true,
                text: 'Pull Volume Over Time'
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    const legsVolumes = JSON.parse(document.getElementById('legsVolume').textContent);
    const legsdates = JSON.parse(document.getElementById('legsDates').textContent);
    let Legsctx = document.getElementById('Legschart').getContext('2d');
    let Legschart = new Chart(Legsctx, {
        type: 'bar',
        data: {
            labels: legsdates,
            datasets: [{
                label: 'Legs Volume',
                data: legsVolumes,
                backgroundColor: [
                    'rgba(150, 255, 100, 1)',
                ],
            }]
        },
        options: {
            title:{
                display: true,
                text: 'Legs Volume Over Time'
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
