<!--This page extend the base tmeplate and allows the user to edit their username and password using forms-->
{% extends 'UserApp/base.html' %}
{% block content %}
    <h1>Change User Info</h1>
    <p>Enter the new user name and password</p>
    <form method="post" action="{% url 'UserChange' %}">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-warning">Change</button>
{% endblock %}
